@font-face {
  font-family: Montserrat-Bold;
  src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-regular;
  src: url(../font/Montserrat-Regular.ttf);
}
.card-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  margin: 2rem 0 0;
  gap: 1.5rem;
}

@media (min-width: 800px) {
  .card-wrap {
    flex-direction: row;
    padding: 1.5rem 7rem;
    position: relative;
    justify-content: space-evenly;
  }
}